<ngx-loading-bar [includeSpinner]="false" color="#ed0422" height="3px"></ngx-loading-bar>

<!-- Side Bar Navigation -->
<nav id="leftSidebar">

  <!-- Hamburger Icon -->
  <a id="offCanvas" class="hamburger"><i class="fa fa-bars fa-2x"></i></a>

  <!-- Offcanvas Navigation Start -->
  <div class="nav-offcanvas">
    <button type="button" class="close" id="offCanvasClose" aria-label="Close">
      <i class="fa fa-times"></i>
    </button>
    <div class="nav-offcanvas-menu">
      <ul class="title">
        <li><a href="#today">Airing Today</a></li>
        <li><a href="#popular">Popular</a></li>
        <li><a href="#topRated">Top Rated</a></li>
      </ul>
    </div>
  </div>
  <!-- Offcanvas Navigation End -->
  <div class="offcanvas-overlay"></div>
</nav>
<!-- Left Sidebar ends -->


<!-- Content -->
<div class="container">
  <h1 id="today" class="text-center title" style="margin-top: 100px;">Airing Today</h1>
  <hr>
  <br/><br/>
  <br/>

  <div class="row">

    <!-- Airing Today  -->
    <div class="col-6 col-sm-6 col-lg-3 col-md-3" *ngFor="let show of airing; index as i"
         style="margin-bottom: 4%; padding: 20px;">
      <div *ngIf="i%4 == 0" class="clearfix d-block w-100"></div>

      <a routerLink="/showDetails/{{ show.id }}" routerLinkActive="active current">
        <img class="airingTodayPoster img-fluid w-100" src="https://image.tmdb.org/t/p/w342{{ show.poster_path }}"
             title="{{ show.name }}"
             onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
      </a>
      <a routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
        <p class="show-name ellipse text-center" style="margin-top: 15px;">{{ show.name }}</p>
      </a>
    </div>
  </div>
  <br/><br/>

  <!--  Popular Shows  -->
  <h1 id="popular" class="text-center title">
    Popular Shows </h1>
  <hr>
  <br/><br/>

  <div class="box effect8 row" *ngFor="let show of popular | slice: 0:10; index as i">

    <div class="col-12 col-lg-6 col-md-12 col-sm-12">
      <a class="popImages" routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
        <img class="img-fluid w-100 h-100" src="https://image.tmdb.org/t/p/w500{{ show.backdrop_path }}"
             title="{{ show.name }}"
             onerror="this.onerror=null; this.src= 'https://res.cloudinary.com/manojkumar/image/upload/v1534334502/stage-2032668_1920.jpg';">
      </a>
    </div>

    <div id="desc" class="col-12 col-lg-6 col-md-12 col-sm-12">
      <a routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
        <h2 class="popName text-center text-dark">{{show.name}}</h2>
      </a>
      <hr>
      <p class="text-center"><b>Rating: </b>{{ show.vote_average }} out of 10</p>
      <p style=" overflow : hidden; text-align: center; text-overflow: ellipsis; display: -webkit-box;
         -webkit-line-clamp: 4; -webkit-box-orient: vertical;">{{ show.overview }}</p>
    </div>
  </div>
  <br/><br/>

  <!-- Top Rated Shows  -->
  <h1 id="topRated" class="text-center title"> Top Rated Shows </h1>
  <hr>
  <br/><br/>

  <div class="row">
    <div class="col-12 col-lg-4 col-md-6 col-sm-6" *ngFor="let show of topRated; index as i" style="margin-bottom: 5%;">

      <div *ngIf="i%3 == 0" class="clearfix d-block bg-warning"></div>

      <div>
        <div class="example-2 card">
          <div class="wrapper img-fluid w-100"
               [ngStyle]="{ 'background': 'url(https://image.tmdb.org/t/p/w500' + show.poster_path + ') center/cover no-repeat' }">
            <div class="header">
              <div class="date">
                <span>{{ getReleaseDate(show.first_air_date) }}</span>
              </div>
              <ul class="menu-content">
                <li><a class="fa fa-heart-o"><span>{{show.vote_average}}</span></a></li>
                <li><a class="fa fa-comment-o"><span>{{show.vote_count}}</span></a></li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <h1 class="topName title ellipse">
                  <a routerLink="/showDetails/{{ show.id }}" routerLinkActive="active current">{{show.name}}</a>
                </h1>
                <p class="text2 ellipse"><span class="text-center">{{ show.name }}</span><br/>{{ show.overview }}</p>
                <a routerLink="/showDetails/{{ show.id }}" routerLinkActive="active current" class="topName button">Read
                  more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
