<ngx-loading-bar [includeSpinner]="false" color="#ed0422" height="3px" ></ngx-loading-bar>

<h1 class="title text-center" style="margin-top: 100px;">Search Results</h1>
<br/><br/>

<div class="container">

  <!-- Movie Results -->
  <div *ngIf="movies.length != 0">

    <h2 class="title text-center">Movies</h2>
    <hr>
    <br/><br/>

    <div class="row">
      <div class="col-6 col-lg-3 col-md-3 col-sm-6" style="margin-bottom: 4%; padding: 20px;" *ngFor="let movie of movies; index as i">

        <div *ngIf="i%4 == 0" class="d-block clearfix w-100"></div>

        <a routerLink="/details/{{movie.id}}" routerLinkActive="active current">
          <img class="imgPic img-fluid w-100" title="{{movie.title}}"
               src="https://image.tmdb.org/t/p/w342{{ movie.poster_path }}"
               onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
        </a>
        <a routerLink="/details/{{movie.id}}" routerLinkActive="active current">
          <p class="mov-name ellipse names text-center" style="margin-top: 15px;">{{movie.title}}</p>
        </a>
      </div>
    </div>
  </div>

  <!-- Show Results -->
  <div *ngIf="shows.length != 0">
    <h2 class="title text-center">Shows</h2>
    <hr>
    <br/><br/>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-3 col-md-3" *ngFor="let show of shows; index as i" style="margin-bottom: 4%; padding: 20px;">
        <div *ngIf="i%4 == 0" class="clearfix d-block w-100"></div>

        <a routerLink="/showDetails/{{ show.id }}" routerLinkActive="active current">
          <img class="imgPic img-fluid w-100" src="https://image.tmdb.org/t/p/w342{{ show.poster_path }}"
               title="{{ show.name }}"
               onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
        </a>
        <a routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
          <p class="show-name names ellipse text-center" style="margin-top: 15px;">{{ show.name }}</p>
        </a>
      </div>
    </div>
  </div>

  <!-- Celebrity Results -->
  <div *ngIf="celebrities.length != 0">
    <h2 class="title text-center">Celebrities</h2>
    <hr>
    <br/><br/>

    <div class="row">
      <div class="col-6 col-sm-6 col-lg-3 col-md-3" *ngFor="let celeb of celebrities; index as i"
           style="margin-bottom: 4%; padding: 20px;">
        <div *ngIf="i%4 == 0" class="clearfix d-block w-100"></div>

        <a routerLink="/celebDetails/{{ celeb.id }}" routerLinkActive="active current">
          <img class="imgPic img-fluid w-100"
               src="https://image.tmdb.org/t/p/w342{{ celeb.profile_path }}"
               title="{{ celeb.name }}"
               onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
        </a>
        <a routerLink="/celebDetails/{{celeb.id}}" routerLinkActive="active current">
          <p class="celeb-name names ellipse text-center" style="margin-top: 15px;">{{ celeb.name }}</p>
        </a>
      </div>
    </div>

  </div>
</div>
<br/><br/>
