nav{
  background-color: whitesmoke;
}
.imgPic{
  height: 90%;
}
li.nav-item{
  border: 1px solid black;
  margin: 0 5px 0 0;
  border-radius: 40%;
  display: inline-block;
}


/* add & remove classes */
.movies{
  display: none;
}
.shows{
  display: none;
}
.images{
  display: none;
}
.moviesValid {
  display: block;
}
.showsValid{
  display: block;
}
.imagesValid{
  display: block;
}
/* ends here */

.poster{
  height: auto;
  width: 85%;
}
.names{
  font-size: small;
  margin-top: 8px;
}
p.names:hover,.names:hover,a.nav-link:hover{
  opacity: 0.8;
  cursor: pointer;
}

/* Mobile formats */
@media only screen and (max-width:1920px) and (min-width:1367px) {
  .poster{
    height: auto;
    width: 85%;
  }
}

@media only screen and (max-width:1366px) and (min-width:768px) {
  .poster{
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width:767px) and (min-width:627px) {
  .poster{
    height: auto;
    width: 100%;
  }
  li.nav-item{
    border: 1px solid black;
    margin: 0 5px 0 0;
    border-radius: 40%;
    /*padding-right: 2px;*/
    /*display: inline-block;*/
  }
}

@media only screen and (max-width:626px) and (min-width:489px) {
  .poster{
    height: auto;
    width: 100%;
  }
  li.nav-item{
    border: 1px solid black;
    margin: 0 5px 0 0;
    border-radius: 40%;
    display: inline-block;
  }
}


@media only screen and (max-width:488px) and (min-width:360px) {
  .poster{
    height: auto;
    width: 100%;
  }
  li.nav-item{
    border: 1px solid black;
    margin: 0 25px 0 -20px;
    border-radius: 40%;
  }
  .overview{
    font-size: small;
    font-weight: normal;
  }
}
@media only screen and (max-width:359px) and (min-width: 316px){
  .poster{
    height: auto;
    width: 100%;
  }
  li.nav-item{
    border: 1px solid black;
    margin: 0 5px 0 0;
    border-radius: 40%;
    /*margin: 0 auto;*/
  }
  .overview{
    font-size: small;
    font-weight: normal;
  }
  nav > ul {
    float: left;
    margin-left: -40px;
  }
}
@media only screen and (max-width: 315px) and (min-width: 0px) {
  .poster{
    height: auto;
    width: 100%;
  }
  li.nav-item{
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 0 0 0;
    /*width: 60px;
    padding-left: -15px;
    font-weight: lighter;
    font-size: xx-small;*/
  }
  .overview{
    font-size: small;
    font-weight: normal;
  }
  nav > ul {
    float: left;
    margin-left: -40px;
  }

}
