<!-- Return to Top Button -->
<a id="return-to-top"><i class="icon-chevron-up"></i></a>

<!-- Fixed Navbar -->
<nav class="navbar navbar-expand-md fixed-top">

  <a class="navbar-brand nav-link home white" routerLink="/**"> {{title}} </a>

  <!-- Buttons for Toggle for Smartphones -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerList"
          aria-controls="navbarTogglerList" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars" aria-hidden="true" style="color: white;"></span>
  </button>
  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerSearch"
          aria-controls="navbarTogglerSearch" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-search" aria-hidden="true" style="color: white"></span>
  </button>-->

  <!--<div class="collapse navbar-collapse mr-auto">
    <div class="collapse navbar-collapse mr-auto" id="navbarTogglerList">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item text-center">
          <a class="nav-link white" routerLink="/celebrities" routerLinkActive="active current">Celebrities<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link white" routerLink="/movie" routerLinkActive="active current">Movies</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link white" routerLink="/shows" routerLinkActive="active current">Shows</a>
        </li>
      </ul>
    </div>

    &lt;!&ndash; Search field &ndash;&gt;
    <div class="collapse navbar-collapse search mr-auto" id="navbarTogglerSearch">
      <form class="form-inline my-2 my-lg-0 mr-auto" (submit)="search(text.value)">
        <input type="search" #text (keyup.enter)="search(text.value)" placeholder="What are you looking for?">
        <button title="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
    </div>

  </div>-->

  <div class="collapse navbar-collapse" id="navbarTogglerList">
    <ul class="categories navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item text-center">
        <a class="nav-link white" routerLink="/celebrities" routerLinkActive="active current">Celebrities<span
          class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link white" routerLink="/movie" routerLinkActive="active current">Movies</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link white" routerLink="/shows" routerLinkActive="active current">Shows</a>
      </li>
    </ul>
    <div class="search">
      <form class="form-inline" (submit)="search(box.value)">
        <div class="input-group">

          <input id="inp" class="form-control" type="search" #box
                 aria-label="What are you looking for?" aria-describedby="basic-addon2"
                 placeholder="What are you looking for?">
          <div class="input-group-append">
            <button title="Search" type="submit" class="searchButton btn btn-default">
              <i class="fa fa-search" aria-hidden="false"></i></button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <!-- Custom progress bar  -->
  <div id="line-scroll" class="line-scroll"></div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="text-center">
  <br/>
  <p>Flick</p>
  <p>Powered by <a href="https://www.themoviedb.org/" target="_blank">TMDb</a></p>
  <p>Copyright &copy; 2018-Infinity
    <!-- <svg>
      <path fill="none" stroke="#333333" stroke-width="5" d="M50,50 
                                                              C100,0 100,100 50,50
                                                              C0,0 0,100 50,50z" />
    </svg> -->
  by <a href="https://www.linkedin.com/in/manojg381997"> Manoj Kumar G </a></p>
</footer>
