<!--<ngx-loading-bar></ngx-loading-bar>-->
<ngx-loading-bar [includeSpinner]="false" color="#ed0422" height="3px"></ngx-loading-bar>

<div class="container">
  <!--  Now Playing  -->
  <h1 style="margin-top: 100px;" class="text-center title animated"> Now Playing </h1>
  <hr>
  <br/>

  <div class="row">
    <div class="col-6 col-lg-3 col-md-3 col-sm-6" *ngFor="let now of nowPlaying; index as i "
         style="margin-bottom: 4%; padding: 20px;">

      <div *ngIf="i%4 === 0" class="d-block clearfix w-100"></div>

      <a routerLink="/details/{{now.id}}" routerLinkActive="active current">
        <img class="img-fluid w-100 " title="{{now.title}}"
             src="https://image.tmdb.org/t/p/w500{{ now.poster_path }}"
             onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
      </a>
      <a routerLink="/details/{{now.id}}" routerLinkActive="active current">
        <p class="movName ellipse text-center">{{now.title}}</p>
      </a>
    </div>
  </div>
  <br/><br/>

  <!-- Upcoming Movies   -->
  <h1 class="text-center title animated"> Coming Soon </h1>
  <hr>
  <br/>

  <div class="row">
    <div class="col-6 col-md-3 col-lg-3 col-sm-6" style="margin-bottom: 4%; padding: 20px;"
         *ngFor="let now of upcoming; index as i ">

      <div *ngIf="i%4 == 0" class="d-block clearfix w-100"></div>

      <a routerLink="/details/{{ now.id }}" routerLinkActive="active current">
        <img class="img-fluid w-100" title="{{now.title}}"
             src="https://image.tmdb.org/t/p/w500{{ now.poster_path }}"
             onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
      </a>
      <a routerLink="/details/{{now.id}}" routerLinkActive="active current">
        <p class="movName ellipse text-center">{{now.title}}</p>
      </a>

    </div>
  </div>
  <br/>
</div>
