<ngx-loading-bar [includeSpinner]="false" color="#ed0422" height="3px"></ngx-loading-bar>

<h1 class="text-center title animated zoomIn" style="margin-top: 100px;"> {{ show.name }} </h1><br/>
<h3 class="text-center overview">({{ show.first_air_date.slice(0, show.first_air_date.indexOf('-')) }})</h3>
<br/><br/>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12 col-sm-12 col-lg-6 col-12">
      <img class="img-fluid w-100 h-100" title="{{show.name}}"
           src="https://image.tmdb.org/t/p/w780{{ show.poster_path }}"
           onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
    </div>
    <div class="col-md-12 col-sm-12 col-lg-6 col-12">
      <h2 class="title animated zoomIn"><b>Synopsis</b></h2>
      <br/>
      <p class="overview"> {{ show.overview }} </p>
      <p *ngIf="show.created_by.length != 0" class="overview">
        <span class="title">Created by :</span> {{ show.created_by[0].name }}</p>

      <p *ngIf="genre != undefined" class="overview"><span class="title">Genre :</span> {{ genre }} </p>
      <p class="overview"><span class="title">Rating :</span> {{show.vote_average}} out of 10 ({{show.vote_count}}
        Ratings)</p>
      <p class="overview"><span class="title">Runtime :</span> {{show.episode_run_time}} minutes </p>
      <p class="overview"><span class="title">No of Seasons:</span> {{show.number_of_seasons}} <span class="title">| Episode Count:</span>
        {{ show.number_of_episodes }} </p>
      <p class="overview"><span class="title">Status :</span> {{show.status}} </p>

      <br/>
      <br/>

      <!--  Casts  -->
      <h2 class="title text-center animated zoomIn">Cast</h2>
      <section *ngIf="casts.length != 0; else castsNotAvailable">
        <br/>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-6" *ngFor="let cast of casts | slice: 0:4">
            <a routerLink="/celebDetails/{{cast.id}}" routerLinkActive="active current" style="padding: 10px;">
              <img class="casts img-fluid w-100" src="https://image.tmdb.org/t/p/w342{{cast.profile_path}}"
                   onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';"/>
            </a>
            <p class="castName names text-center">{{cast.name}}</p>
          </div>
        </div>
      </section>
      <ng-template #castsNotAvailable>
        <h3 class="overview"> Casts Not Available</h3></ng-template>
    </div>
  </div>
  <br/>
  <br/>

  <!-- Image Gallery  -->
  <div *ngIf="images.length != 0" style="margin-top: 8%;">
    <h2 class="text-center title">Image Gallery</h2>
    <br/>
    <br/>
    <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">

      <!-- Indicators  -->
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" *ngFor="let image of images; index as i" [attr.data-slide-to]="i"
            [ngClass]="i == 0 ? 'active' : ''"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div *ngFor="let image of images; let i = index" [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'">
          <a href="https://image.tmdb.org/t/p/original{{images[i].file_path}}" data-lightbox="gallery">
            <img class="images d-block w-100" src="https://image.tmdb.org/t/p/original{{images[i].file_path}}"
                 onerror="this.onerror=null; this.src= 'https://res.cloudinary.com/manojkumar/image/upload/v1534334502/stage-2032668_1920.jpg';">
          </a>
        </div>
      </div>

      <!-- Left and Right Controls -->
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br/>
  <br/>

  <!-- Video Gallery  -->
  <div *ngIf="videos.length != 0" style="margin-top: 8%;">
    <h2 class="title text-center">Videos</h2>
    <br/>
    <br/>
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5 col-10 embed-responsive embed-responsive-16by9"
           *ngFor="let video of videos | slice: 0:4; index as i" style="margin: 0 0 3% 6%;">

        <div class="clearfix" *ngIf="i%2 == 0"></div>

        <div *ngIf="video">
          <youtube-player class="embed-responsive-item" videoId="{{ video.key }}"></youtube-player>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <!--  Reviews  -->
  <h2 class="text-center title" *ngIf="reviews.length != 0" style="margin-top: 8%;"> Reviews </h2>
  <br/>
  <br/>
  <div class="row text-center" *ngFor="let review of reviews; index as i">
    <div class="col-md-10 col-lg-12 col-md-offset-1 mx-auto comment">
      <p class="text-center title revHead"> Review {{i + 1}} </p>
      <p class="overview">{{review.content}}</p>
      <p class="text-center title"> Reviewed by <span class="names">{{ review.author }}</span></p>
    </div>
  </div>
  <br/>
  <br/>

  <!-- Similar Shows -->
  <h2 *ngIf="similarShows.length != 0" class="text-center title" style="margin-top: 8%;"> Similar Shows </h2>
  <br/>
  <br/>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-6" style="margin-bottom: 6%; padding: 20px;"
         *ngFor="let show of similarShows | slice: 0:12; index as i">

      <div *ngIf="i%4 == 0" class="clearfix w-100"></div>

      <a routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
        <img class="simMovie img-fluid w-100" title="{{show.name}}"
             src="https://image.tmdb.org/t/p/w342{{ show.poster_path }}"
             onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';"/>
      </a>
      <a routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
        <p class="cabinFont text-center ellipse">{{ show.name }}</p>
      </a>
      <p class="relDate text-center">Rating: {{ show.vote_average }}/10 </p>
    </div>
  </div>
</div>
