<ngx-loading-bar [includeSpinner]="false" color="#ED0422" height="3px"></ngx-loading-bar>

<canvas class="myCanvas" style=""></canvas>
<header class="container-fluid">
  <div>
    <h1 class="title animated fadeInUp">Welcome</h1><br/>
    <h1 class="title animated fadeInUp">to the</h1><br/>
    <h1 class="title animated fadeInUp">World Of Entertainment</h1>
  </div>
  <div href="#movies" class="scroll-spy hvr-pulse"><i class="icon-chevron-down"></i></div>
</header>

<!-- Movie Section  -->
<section id="movies">
  <h2 class="text-center title" style="padding: 30px;">Popular Movies</h2><br/><br/>

  <div id="movieBg" class="h-auto mx-auto">
    <div style="position: relative;">
      <owl-carousel #owlElement [options]="{items: 3, margin: 16, dots: true, navigation: true, autoplay: true, autoplayTimeout: 3000,
  rewindNav: true, loop: true, lazyLoad: true, responsive:{ '0':{items: 1, dots: false},'300':{items:1, dots: false}, '400': {items: 1, dots: false}, '640': {items: 2}, '1000': {items: 3},
  '1500': {items: 3}}}"
                    [items]="popularMovies" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let image of popularMovies; let i = index">
          <div class="thumbnail-image">
            <img class="mw-100 h-auto img-fluid"
                 data-src="https://image.tmdb.org/t/p/w500{{image.backdrop_path}}"
                 onerror="this.onerror=null; this.src= 'https://res.cloudinary.com/manojkumar/image/upload/v1534334502/stage-2032668_1920.jpg';">
          </div>
          <div class="text-block">
            <a routerLink="/details/{{image.id}}" routerLinkActive="active current">
              <h4 class="title">{{image.title}}</h4>
            </a>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
</section>

<!-- Show Section  -->
<section id="shows">
  <h2 class="text-center title">Popular Shows</h2><br/><br/>

  <div id="showsBg" class="h-auto mx-auto">
    <div style="position: relative;">
      <owl-carousel class="h-100" #owlElement [options]="{items: 3, height: 50, margin: 16, dots: true, navigation: true, autoplay: true, autoplayTimeout: 3000,
  rewindNav: true, loop: true, lazyLoad: true, responsive:{ '0':{items: 1, dots: false}, '400': {items: 1, dots: false}, '640': {items: 2}, '1000': {items: 3},
  '1500': {items: 3}}}"
                    [items]="shows" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let show of shows; let i = index">
          <div class="thumbnail-image">
            <img class="img-fluid w-100 h-auto" data-src="https://image.tmdb.org/t/p/w500{{show.backdrop_path}}"
                 onerror="this.onerror=null; this.src= 'https://res.cloudinary.com/manojkumar/image/upload/v1534334502/stage-2032668_1920.jpg';">
          </div>
          <div class="text-block">
            <a routerLink="/showDetails/{{show.id}}" routerLinkActive="active current">
              <h4 class="title">{{show.name}}</h4>
            </a>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
</section>

<!-- Celebrity Section  -->
<section id="celebrity">
  <h2 class="text-center title">Celebrities</h2><br/><br/>

  <div id="celebBg" class="h-auto mx-auto">
    <section class="container">
      <div style="margin-left: 20px; margin-bottom: 20px; padding-left: 20px; position: relative;">
        <owl-carousel #owlElement [options]="{items: 3, margin: 16, dots: false, navigation: true, autoplay: true, autoplayTimeout: 3000,
  rewindNav: true, loop: true, lazyLoad: true, responsive:{ '0':{items: 1, dots: false}, '400': {items: 2, dots: false}, '640': {items: 2}, '1000': {items: 3},
  '1500': {items: 3}}}"
                      [items]="celebrities" [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item" *ngFor="let celeb of celebrities; let i = index">
            <div class="thumbnail-image">
              <img class="img-fluid w-75 h-auto" data-src="https://image.tmdb.org/t/p/w342{{celeb.profile_path}}"
                   onerror="this.onerror=null; this.src= 'https://vignette.wikia.nocookie.net/janethevirgin/images/4/42/Image-not-available_1.jpg/revision/latest?cb=20150721102313';">
            </div>
            <div id="celeb-text-block" class="text-block">
              <a routerLink="/celebDetails/{{celeb.id}}" routerLinkActive="active current">
                <h6 class="title">{{celeb.name}}</h6>
              </a>
            </div>
          </div>
        </owl-carousel>
      </div>
    </section>
  </div>
</section>

