.casts:hover {
  transform: scale(1.1);
  /*-webkit-transition: transform 1s ease-in-out;*/
}
.casts { transition: all .3s ease-in-out; }

#carouselExampleIndicators {
  width: 80%;
}
.simMovie{
  height: 90%;
}
.movName,.relDate {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  font-weight: normal;
  margin: auto;
}
.movName:hover,.cabinFont:hover, .relDate:hover,.names:hover {
  opacity: 0.8;
  cursor: pointer;
}
p.names{
  margin-left: 10px;
}
img.casts {
  border-radius: 80%;
  height: 70%;
}
.comment{
  color: black;
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 10px;
}

/* Mobile formats */
@media only screen and (max-width:1920px) and (min-width:1367px) {

}

@media only screen and (max-width:1366px) and (min-width:768px) {
  header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../assets/images/popcorn-1433327_1920.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
  }

  #celebrity .container div {
    margin-left: 35px;
  }
  #carouselExampleIndicators{
    width: 100%;
  }
}

@media only screen and (max-width:767px) and (min-width:627px) {
  header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../assets/images/popcorn-1433327_1920.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
  }
  #celebrity .container div {
    margin-left: 10px;
  }
  #carouselExampleIndicators {
    width: 100%;
  }
  img.casts {
    height: 80%;
    width: 10%;
  }
}

@media only screen and (max-width:626px) and (min-width:489px) {
  header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../assets/images/popcorn-1433327_1920.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
  }
  #celebrity .container div {
    margin-left: 10px;
  }
  #carouselExampleIndicators {
    width: 100%;
  }
  img.casts{
    height: 80%;
    width: 10%;
  }
}


@media only screen and (max-width:488px) and (min-width:360px) {
  header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../assets/images/popcorn-1433327_1920.jpg") no-repeat fixed;
    background-size: cover;
    width: 100%;
  }
  #celebrity .container div {
    margin-left: 20px;
  }
  #carouselExampleIndicators {
    width: 100%;
  }
  img.casts{
    height: 80%;
    width: 10%;
  }
}

@media only screen and (max-width:359px) and (min-width: 0px){
  header {
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("../../assets/images/popcorn-1433327_1920.jpg") no-repeat;
    width: 100%;
  }
  #celebrity .container div {
    margin-left: 20px;
  }
  #carouselExampleIndicators {
    width: 100%;
  }
  img.casts{
    height: 80%;
    width: 10%;
  }
}
